<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JuejinVoteForRxSwiftDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FA4BD3120034771007FC2C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FA4BD4520034771007FC2C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FA4BD5020034771007FC2C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
